.canvases {
  position: relative;
}
.canvases {
  width: 320px;
  height: 400px;
}
.canvases canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.off {
  display: none;
}

.loader {
  text-align: center;
  margin-top: 40%;
}

header {
  height: 2em;
}
