<!DOCTYPE html>
<html ng-app=littleSketcher>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Little Sketcher</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="foundation/css/normalize.css" rel="stylesheet">
        <link href="foundation/css/foundation.css" rel="stylesheet">

        <link href="css/app.css" rel="stylesheet">
        
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <section ng-view></section>

        <div notifications></div>

        <script id='tpls/index.html' type="text/ng-template">
          <h1>LittleSketcher v0.1</h1>
          <p><a href='#drawings/new' class=button>Start a drawing</a></p>
          <p><a href='#drawings' class=button>List drawings</a></p>
        </script>
        <script id='tpls/drawings_new.html' type="text/ng-template">
          <a href="#">Back</a>
          <div class=canvases ng-class="{loading:loading}">
            <canvas drawing commands=record.commands width=320 height=400></canvas>
            <canvas draw onpath=newStroke(command) width=320 height=400></canvas>
          </div>

          <button ng-click=undo() ng-disabled="record.commands.length == 0">Undo</button>
          <button ng-click=redo() ng-disabled="undone.length == 0">Redo</button>
          <button ng-click=save() ng-disabled="saved">{{verb()}}</button>
        </script>
        <script id='tpls/drawings_list.html' type="text/ng-template">
          <a href="#">Back</a>
          <a class="button small drawing_create" href='#drawings/new'>New Drawing</a>
          <ul class=drawings>
            <li class=note ng-show='drawings.length == 0'>
              No drawings yet, get drawing!
            </li>
            <li class=drawing ng-repeat="drawing in drawings" >
              <div toggle-input>
                <input toggled-input ng-model=drawing.name placeholder="Unamed drawing">
                <span toggle-trigger class=name ng-bind="drawing.name || 'Unamed drawing'"></span>
              </div>
              <a ng-href="#drawings/{{drawing._id}}" class="small button">Edit</a>
              <a ng-click="deleteDrawing(drawing)" class="small button alert">Delete</a>
            </li>
          </ul>
        </script>

        <!-- Fake backend -->
        <script src="js/support/sinon.js"></script>
        <script src="js/support/fake-server.js"></script>
        <script>
          createFakeServer();
        </script>

        <script src="js/vendor/underscore.js"></script>
        <script src="js/vendor/jquery.js"></script>

        <script src="js/vendor/angular/angular.js"></script>
        <script src="js/vendor/angular/angular-route.js"></script>
        <script src="js/vendor/angular/angular-resource.js"></script>

        <script src="js/toggle_input.js"></script>
        <script src="js/main.js"></script>
        <script src="js/routes.js"></script>
        <script src="js/drawing.js"></script>


    </body>
</html>
